* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

/* //criando Variaveis CSS */
:root {
    --corPrincipal: #7a745c;
    --corSecundaria: #f6f6f6;
}

.input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--corPrincipal);
    border-radius: 6px;
    font-size: 18px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}